@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500;1,700&display=swap");
header .barraTop {
  grid-area: lgI;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right bottom, #ffffff, #f5f5f7, #eaebef, #dfe1e8, #d4d7e0, #ccd2dc, #c2cdd8, #b9c8d4, #b1c6d1, #a9c4cc, #a2c2c6, #9dc0be);
  align-items: center;
  padding-right: 10px; }

.bacgroudIndex {
  background-image: url("../imagenes/fondo1.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-attachment: fixed; }

#galeriaIndex img {
  width: 100%;
  height: 250px; }

#galeriaIndex .col-lg-4 {
  margin: 0;
  padding: 25px; }

#galeriaIndex img:hover {
  border: 5px solid #f7f7f7; }

.decorativo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh; }
  .decorativo hr {
    width: 80px;
    height: 7px;
    background-color: #43bae9;
    border: none;
    margin-bottom: 20px;
    opacity: 1; }

.widget {
  height: 400px;
  margin-top: 50px; }
  .widget .widget1 {
    width: auto;
    height: 80%;
    padding-left: 50px;
    color: #29353e;
    font-size: 11pt;
    text-align: center;
    display: flex;
    justify-content: space-around; }

/* --------------------------------- HOTELES -------------------------------- */
.backgroudHotel {
  background-image: url("../imagenes/portada.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px; }

.galeriaHoteles {
  margin: 100px 50px; }

/* -------------------------------- CRUCEROS -------------------------------- */
main .backgroudCrucero {
  background-image: url("https://topadventure.com/__export/1597178843820/sites/laverdad/img/2020/08/11/mejores_cruceros_del_mundo_1.jpg_1766478952.jpg");
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover; }

main .contactoCruceros {
  margin-top: 20vh; }
  main .contactoCruceros p {
    text-align: center;
    color: #29353e; }
  main .contactoCruceros #tCrucero2 {
    font-weight: 900;
    color: #29353e;
    font-size: 25px; }

main .galCrucero .card .card-body #tamPrecio {
  margin: 0 auto;
  width: 50%;
  word-wrap: word-break; }

main .galCrucero .card .card-body .letraGrande {
  font-size: 20px;
  font-weight: bold; }

main .galCrucero .card .card-body .botonPrecio {
  width: 24.375rem;
  height: 1.875rem;
  background-color: #29353e;
  color: white;
  text-align: center;
  line-height: 30px; }

main .galeriaCruceros {
  margin-top: 8%;
  width: 100%;
  margin-bottom: 700px; }

main .galeriaCruceros img {
  height: 200px;
  width: 400px;
  margin: 10px; }

main .galeriaCruceros div {
  margin: 10px; }

main .galeriaCrucero1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

main .precios {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 150px; }

main .precios1 {
  width: 400px;
  background-color: #ebebeb;
  margin-top: -10px; }

main .precios1 p {
  margin: 5px; }

main .galeriaCruceros2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

main .galeriaCruceros img {
  margin-top: 50px; }

main .galeriaCruceros2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

main .ayudaTerminosCruceros {
  width: 100%;
  height: 200px;
  background-color: #c9c5c9;
  margin-top: 100px;
  padding-left: 15px;
  margin-bottom: 60px; }

/* ------------------------------- LOCALIZADOR ------------------------------ */
.backgroudLocalizador {
  background-image: url("https://cdn.pixabay.com/photo/2016/11/30/12/16/question-mark-1872665_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh; }

/* ------------------------ CONTACTANOS ----------------------------------- */
#tamCont {
  height: 100vh;
  margin-top: 8vh; }

#areaDescripcion {
  height: 10vh; }

.list-group-item {
  border: none; }

/* --------------------------- ACERCA DE NOSOTROS --------------------------- */
.cuerpoNosotros {
  margin-top: 10vh;
  height: 150vh; }
  .cuerpoNosotros .videoSomos {
    width: 50%;
    height: auto;
    margin-bottom: 30px;
    margin-top: 5vh; }

/* ------------------------- TERMINOS Y CONDICIONES ------------------------- */
.fondoTerminos {
  background-image: url("/imagenes/terminos y condiciones.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 90%; }

/* ------------------------------ MIS RESERVAS ------------------------------ */
#tamReserva {
  height: 100vh; }

/* -------------------MEDIAQUERIES--------------------- */
/* -------------------------------------------------------------------------- */
/*                               PANTALLA CHICA  INICO                           */
/* -------------------------------------------------------------------------- */
@media (max-width: 575.98px) {
  body {
    background-color: #ff7676; }
  .widget1 {
    display: block; }
  .iconsRedes {
    display: none; }
  .mediosPagos p {
    display: none; }
  .seccionAyudaIndex {
    margin-left: 0; }
  .seccionAyudaIndex li a {
    font-weight: normal;
    font-size: 12px; }
  .tarjetas {
    margin: 0 auto; }
  #tcd {
    display: none; }
  /* -------------------------------- CRUCEROS -------------------------------- */
  #tamPrecio {
    font-size: .6em; }
  .estucturaContacto {
    display: grid;
    grid-template-areas: " p3  " "p4 " "p5" " p6 "; }
  .list-group {
    width: 90%;
    display: flex;
    margin: 0 auto; }
  .cuerpoNosotros p {
    width: 100%;
    font-size: x-small; }
  .intro-contactanos {
    text-align: justify; }
  .tam {
    font-size: 9px; }
  .tam-font {
    font-size: 12px;
    text-align: start; } }

/* -------------------------------------------------------------------------- */
/*                               PANTALLA TABLET   INICIO                        */
/* -------------------------------------------------------------------------- */
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    background-color: #73faab; }
  .widget1 {
    display: block; }
  .iconsRedes {
    display: none; }
  .botonPrecio {
    width: 200px; }
  .card #tamPrecio {
    margin: 0 auto;
    width: 400px; }
  .estucturaContacto {
    display: grid;
    grid-template-areas: " p3  " "p4 " "p5" " p6 "; }
  .list-group {
    width: 85%; }
  #mapa {
    display: flex;
    justify-content: start; }
  .cuerpoNosotros p {
    width: 100%;
    font-size: small;
    text-align: justify;
    margin: 30 auto; }
  .tam-font {
    font-size: 14px;
    text-align: start; } }

/* -------------------------------------------------------------------------- */
/*                               PANTALLA TABLET                           */
/* -------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    background-color: #ebb56f; }
  .botonPrecio {
    width: 100px; }
  .cuerpoNosotros p {
    width: 70%;
    font-size: medium;
    text-align: justify;
    margin: 20px auto; } }

/* -------------------------------------------------------------------------- */
/*                            LAPTOP                        */
/* -------------------------------------------------------------------------- */
@media (min-width: 992px) and (max-width: 1999.98px) {
  .card #tamPrecio {
    margin: 0 auto;
    width: 400px; }
  .cuerpoNosotros p {
    width: 80%;
    text-align: justify;
    font-size: x-large;
    margin: 0 auto;
    margin-bottom: 20px; }
  .intro-contactanos {
    width: 50%;
    text-align: justify; }
  /* ------------------------------ CONTATACTANOS ----------------------------- */
  .lineaVer {
    border-left: solid gray;
    margin-top: 5px; } }

.seccionIndex {
  margin-top: 500px;
  width: 100%;
  height: auto;
  background-color: #29353e; }
  .seccionIndex .logoContacto {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 20px;
    align-items: center; }
  .seccionIndex .seccionAyudaIndex ul {
    list-style: none;
    color: white;
    font-size: 18px;
    line-height: 30px; }
  .seccionIndex .seccionAyudaIndex li a {
    color: white;
    text-decoration: none;
    font-size: 20px; }
  .seccionIndex .iRedesIndex {
    display: flex;
    justify-content: space-between;
    width: 80%; }
    .seccionIndex .iRedesIndex .tarjetas {
      margin-left: 120px; }

footer {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 20px;
  font-size: 1.5vw;
  color: #29353e;
  background-color: white !important;
  position: absolute; }

body {
  margin: 0;
  pad: 0;
  font-family: 'Roboto', sans-serif; }

.justificado {
  text-align: justify; }

ul li {
  list-style: none; }

ul a {
  text-decoration: none;
  color: white; }
