footer {
    
    .itemFooter{
        padding-left: 20px;
      

        .mensajeBrand {
            width: 75%;
            text-align: justify;
            color: white;
           
            line-height: 20px;
    
        }
    }



    .derechos {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: gray solid 1px;
        background-color: #212529;


    }



}