/* -------------------MEDIAQUERIES--------------------- */
/* -------------------------------------------------------------------------- */
/*                               PANTALLA CHICA  INICO                           */
/* -------------------------------------------------------------------------- */

@media (max-width:575.98px) {


  main {
    .tIndex {
      font-size: 15px;
      color: white;

    }

    .tIndex2 {
      font-size: 12px;
      color: white;
    }



  }





  .widget1 {
    display: block;


  }

  .iconsRedes {
    display: none;
  }

  .mediosPagos p {
    display: none;
  }

  .seccionAyudaIndex {
    margin-left: 0;



  }

  .seccionAyudaIndex li a {
    font-weight: normal;
    font-size: 12px;


  }

  .tarjetas {
    margin: 0 auto;
  }

  #tcd {
    display: none;
  }


  /* -------------------------------- CRUCEROS -------------------------------- */
  #tamPrecio {
    font-size: .6em;
  }

  footer {
    font-size: 10px;

    .mensajeBrand {
      width: 100%;
      text-align: justify;
      color: white;


      line-height: 20px;
    }

  }

  .galeriaCruceros {
    display: grid;
    grid-template-areas:

      "crucero1"
      "crucero2 "
      "crucero3"
      "crucero4"
    ;

    grid-template-columns: 2fr;
  }

  .contactoCruceros {
    margin-top: 20vh;

    p {
      text-align: center;
      color: #29353e;


      #tCrucero2 {
        font-weight: 500;
        color: #29353e;
        font-size: 10px !important;
      }
    }

  }







  .list-group {
    width: 90%;
    display: flex;
    margin: 0 auto;
  }

  .cuerpoNosotros  {
    p{

      width: 100%;
      font-size:16px ;
    }
  }

  .intro-contactanos {

    text-align: justify;

  }

  .tam {
    font-size: 9px;

  }





  .copyRight {
    margin: 0;
    color: white;
    font-size: 8px;
  }




}



/* -------------------------------------------------------------------------- */
/*                               PANTALLA TABLET   INICIO                        */
/* -------------------------------------------------------------------------- */

@media (min-width:576px) and (max-width:767.98px) {


  .widget1 {
    display: block;
  }

  .iconsRedes {
    display: none;
  }

  .botonPrecio {
    width: 200px;


  }

  .card #tamPrecio {
    margin: 0 auto;
    width: 400px;
  }



  .list-group {
    width: 85%;
  }

  #mapa {
    display: flex;
    justify-content: start;
    ;
  }

  .cuerpoNosotros {
    p {
      width: 100%;
      font-size: normal;
      text-align: justify;
      margin: 30 auto;

    }
  }


  .tam-font {
    font-size: 14px;
    text-align: start;
  }

  .copyRight {
    margin: 0;
    color: white;
    font-size: 12px;
  }


}


/* -------------------------------------------------------------------------- */
/*                               PANTALLA TABLET                           */
/* -------------------------------------------------------------------------- */


@media (min-width:768px) and (max-width:991.98px) {
 

  .botonPrecio {
    width: 100px;


  }

  .cuerpoNosotros p {
    width: 70%;
    font-size: medium;
    text-align: justify;
    margin: 20px auto;

  }

  .copyRight {
    margin: 0;
    color: white;
    font-size: 12px;
  }

}

/* -------------------------------------------------------------------------- */
/*                            LAPTOP                        */
/* -------------------------------------------------------------------------- */

@media(min-width:992px) and (max-width:1999.98px) {
  .card #tamPrecio {
    margin: 0 auto;
    width: 400px;
  }

  .cuerpoNosotros p {
    width: 80%;
    text-align: justify;
    font-size: x-large;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .intro-contactanos {
    width: 50%;
    text-align: justify;
  }


  /* ------------------------------ CONTATACTANOS ----------------------------- */

  .lineaVer {
    border-left: solid gray;
    margin-top: 5px;


  }

  .copyRight {
    margin: 0;
    color: white;
    font-size: 14px;
  }

}