#alturaIndex{
   margin-bottom: 100px;
}

   
    .bacgroudIndex {
        background-image: url("../imagenes/fondo1.jpg");
        background-size: cover;
        width: 100%;
        height: 100vh;
      
        
       
        
    }

    #galeriaIndex {

        img {
            width: 100%;
            height: 250px;
        }

        .col-lg-4 {
            margin: 0;
            padding: 25px;
        }

        img:hover {
            border: 5px solid #f7f7f7;
        }


    }

    .decorativo {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1vh;
        margin-bottom: 5vh;


        hr {
            width: 80px;
            height: 7px;
            background-color: rgb(67, 186, 233);
            border: none;
            margin-bottom: 20px;
            opacity: 1;
        }


    }




.widget {

    height: 400px;
    margin-top: 50px;



    .widget1 {
        width: auto;
        height: 80%;
        padding-left: 50px;
        color: #29353e;
        font-size: 11pt;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }







}

/* --------------------------------- HOTELES -------------------------------- */


.backgroudHotel {
    background-image: url("../imagenes/portada.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

.galeriaHoteles {

    margin: 100px 50px;
}



/* -------------------------------- CRUCEROS -------------------------------- */



#alturaCrucero{
    height: 350vh;
} 

main {



    .backgroudCrucero {
        background-image: url("https://topadventure.com/__export/1597178843820/sites/laverdad/img/2020/08/11/mejores_cruceros_del_mundo_1.jpg_1766478952.jpg");
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .tIndex{
        font-size: 25px;
        color: white;

    } 
    .tIndex2{
        font-size: 15px;
        color: white;
    }

    .contactoCruceros {
        margin-top: 20vh;

        p {
            text-align: center;
            color: #29353e;
            font-size: 15px;
        }

        #tCrucero2 {
            font-weight: 900;
            color: #29353e;
            font-size: 25px;
        }

    }



    
    .precios {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        height: 150px;
    }

    .precios1 {
        width: 400px;
        background-color: #ebebeb;
        margin-top: -10px;

    }

    .precios1 p {
        margin: 5px;
    }



    

    .ayudaTerminosCruceros {
        width: 100%;
        height: 200px;
        background-color: #c9c5c9;
        margin-top: 100px;
        padding-left: 15px;
        margin-bottom: 60px;
    }








}

/* ------------------------------- LOCALIZADOR ------------------------------ */


.backgroudLocalizador {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/30/12/16/question-mark-1872665_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;

}

/* ------------------------ CONTACTANOS ----------------------------------- */

#tamCont{
    height: 150vh;
    margin-top: 8vh;
}

#areaDescripcion {

    height: 10vh;
}

.list-group-item {
    border: none;
}


/* --------------------------- ACERCA DE NOSOTROS --------------------------- */
.cuerpoNosotros {
    margin-top: 10vh;
    height: 150vh;

    .videoSomos {

        width: 50%;
        height: auto;
        margin-bottom: 30px;
       

        margin-top: 5vh;

    }


}

/* ------------------------- TERMINOS Y CONDICIONES ------------------------- */

.fondoTerminos {
    background-image: url("/imagenes/terminos\ y\ condiciones.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 90%;
}


/* ------------------------------ MIS RESERVAS ------------------------------ */

#tamReserva{
height: 100vh;

}

/* ---------------------------------- LOGIN --------------------------------- */

#alturaLog{
height: 150vh;

}

/* ----------------------------- CREANDO USUARIO ---------------------------- */

#altura{
    height: 125vh;
}